{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container text-center">
        {% for pitch in pitches %}
        <div class="thumbnail mt-4 panel bg-light text-center style=" style="box-shadow: 5px 5px 5px 5px #ffb33f;padding: 10px; max-width: 100rem;justify-content: center;">
                <div class="card-body">
                        <p style="font-size:25px;"> Posted on:&nbsp;&nbsp;{{pitch.date.strftime('%Y-%m-%d')}}</p>
                        <h4 class="text-center" style="font-size:24px;"> Pitch:&nbsp;&nbsp;{{pitch.pitch}}</h4>
                        <div style="font-size:20px;"">
                                <span class="footer"> <a href="{{url_for('main.upvote',pitch_id = pitch.id)}}"><i
                                                        class="fa fa-thumbs-up"
                                                        style="font-size:18px;color: green"></i></a>
                                        {{pitch.upvotes.count()}}</span> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                <span class="footer"> <a href="{{url_for('main.downvote',pitch_id = pitch.id)}}">
                                                <i class="fa fa-thumbs-down" style="color:red;"></i>
                                                {{pitch.downvotes.count()}}</a></span>
                        </div>
                        <br>
                        <a href="{{url_for('main.view_comments',id=pitch.id)}}"  class="btn btn-warning btn-sm" style="font-size:20px;">{{pitch.comments.count()}} Comments</a>
                        <a href="{{url_for('main.new_comment',id=pitch.id)}}" class="btn btn-info btn-sm" style="font-size:20px;">
                                Comment</a>
                </div>
        </div>
        {% endfor %}
</div>
{% endblock%}